<p>header works!</p>

<!-- NO AUTH REQUIRED -->
<div *ngIf="showNoAuthSection">
  <button (click)="home()">Home</button>
  <button (click)="login()">Login</button>
  <button (click)="register()">Register</button>
</div>

<!-- AUTH REQUIRED -->
<div *ngIf="showAuthSection">
  <button (click)="home()">Home</button>
  <button (click)="adminPosts()">Admin posts</button>
  <button (click)="adminCategories()">Admin categories</button>
  <button (click)="profile()">Profile</button>
  <button (click)="logout()">Logout</button>
</div>
