<h2>Categories List</h2>
<button (click)="createCategory()">ADD</button>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>TITLE</th>
      <th>DESCRIPTION</th>
      <th>CSS COLOR</th>
      <th>ACTIONS</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories">
      <td>{{ category.categoryId }}</td>
      <td>{{ category.title }}</td>
      <td>{{ category.description }}</td>
      <td>{{ category.css_color }}</td>
      <td>
        <button (click)="updateCategory(category.categoryId)">UPDATE</button>
        <button (click)="deleteCategory(category.categoryId)">DELETE</button>
      </td>
    </tr>
  </tbody>
</table>
